extends layout

block content
  form(action="/auth/changePassword", method="POST", role="form")
    legend Change password
    div.form-group
      label Old Password
      input(type="password", name="oldPassword", required).form-control
    div.form-group
      label New Password
      input(type="password", name="password", required).form-control
    div.form-group
      label Repeat New Password
      input(type="password", name="repeatPassword", required).form-control
    div.form-group
      input(type="submit", value="Change").btn.btn-primary
