doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= appInfo.name
    link(href="//cdn.jsdelivr.net/bootstrap/3.1/css/bootstrap.min.css", rel="stylesheet")
  body
    .col-sm-6.col-sm-offset-3
      if typeof error != "undefined"
        div.alert.alert-danger= error
      if typeof info != "undefined"
        div.alert.alert-info= info
      block content

