extends layout

block content
  form(action="/auth/resetPasswordRequest", method="POST", role="form")
    legend Reset password request
    div.form-group
      label Email
      input(type="text", name="email", value=((typeof data.email == "undefined")?"": data.email), required, autofocus).form-control
    div.form-group
      input(type="submit", value="Send").btn.btn-primary
