extends layout

block content
  form(action="/auth/signIn", method="POST", role="form")
    legend Sign in
    div.form-group
      label User name or email
      input(type="text", name="userNameOrEmail", value=data.userNameOrEmail || "", required, autofocus).form-control
    div.form-group
      label Password
      input(type="password", name="password", required).form-control
    div.form-group
      .checkbox
        label
          input(type="checkbox", name="remember")
          span= " Remember me"
    div.form-group
      input(type="submit", value="Sign In").btn.btn-primary
    hr
    a(href="/auth/resetPasswordRequest") Forgot password?
